@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

body {
  background: #ededed;
  color: rgb(2, 7, 19);
  line-height: 1.6;
}

a:link,
a:visited {
  color: rgb(2, 7, 19);
}

a:hover {
  color: #336699;
}
