@import "./../../node_modules/tachyons/src/tachyons.css";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


* {
  font-family: 'Rubik', sans-serif;
}

body {
  background: #ededed;
  color: rgb(2, 7, 19);
}

a:link, a:visited {
  color: rgb(2, 7, 19);
}

a:hover {
  color: #336699;
}

.grid {
  display: grid;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
}